body {
	font: 14px "Century Gothic", Futura, sans-serif;
	margin: 20px;
}

ol, ul {
	padding-left: 30px;
}

h1 {
	font-size: 50px;
	text-align: center;
}

.board-row:after {
	clear: both;
	content: "";
	display: table;
}

.status {
	margin-bottom: 10px;
}

.square {
	background: #fff;
	border: 1px solid #999;
	float: left;
	font-size: 60px;
	font-weight: bold;
	line-height: 70px;
	height: 100px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 10px;
	text-align: center;
	width: 100px;
}

.square:focus {
	outline: none;
}

.kbd-navigation .square:focus {
	background: #ddd;
}

.game {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.game-status {
	text-align: center;
	margin: 10px 0px;
}

.game-info {
	margin-left: 20px;
}
